<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">Beta Computation</a>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li>
          <a href="/symbol_list"><span class="glyphicon glyphicon-th-list"></span> Symbol List</a>
        </li>
        <li>
          <a href="/all_betas"><span class="glyphicon glyphicon-equalizer"></span> Beta Graph</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
        </li>
      </ul>

    </div>
  </div>
</div>
